#### Assignment 

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database.
You must use Pandas to answer the following questions:

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

What is the average age of men?

What is the percentage of people who have a Bachelor's degree?

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

What percentage of people without advanced education make more than 50K?

What is the minimum number of hours a person works per week?

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

What country has the highest percentage of people that earn >50K and what is that percentage?

Identify the most popular occupation for those who earn >50K in India.

In [47]:
import pandas as pd

df = pd.read_csv('adult.data.csv', sep = ',', names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [48]:
race_count = df.race.value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### What is the average age of men?

In [49]:
men_df = df.loc[df['sex'] == 'Male']
round(men_df['age'].mean(), 1)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [50]:
education_count = df.education.value_counts(normalize=True)
percentage_bachelors = education_count['Bachelors'] * 100
round(percentage_bachelors, 1)

16.4

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [51]:
advanced_df = df.query('education in ["Bachelors", "Masters", "Doctorate"]')
above_50 = advanced_df.salary.value_counts(normalize=True)
round(above_50['>50K'] * 100, 1)

46.5

### What percentage of people without advanced education make more than 50K?

In [52]:
advanced_df = df.query('education not in ["Bachelors", "Masters", "Doctorate"]')
above_50 = advanced_df.salary.value_counts(normalize=True)
round(above_50['>50K'] * 100, 1)

17.4

### What is the minimum number of hours a person works per week?

In [53]:
min(df['hours-per-week'])

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [67]:
min_hours = df.query("`hours-per-week` == 1")
above_50 = min_hours.salary.value_counts(normalize=True)
round(above_50['>50K'] * 100, 1)

10.0

### What country has the highest percentage of people that earn >50K?

In [168]:
richest = df.loc[df['salary'] == ">50K", 'native-country'].value_counts()
total_pop = df['native-country'].value_counts()
percentages = (richest / total_pop).sort_values(ascending=False)
percentages.head(1)

Iran    0.418605
Name: native-country, dtype: float64

### And what is that percentage?

In [171]:
round(percentages[0] * 100, 1)

41.9

### Identify the most popular occupation for those who earn >50K in India

In [114]:
indians = df.query("`native-country` == 'India'")
indians_above_50 = indians.query("salary == '>50K'")
most_occ = indians_above_50.occupation.value_counts(normalize=True)
most_occ.head(1)

Prof-specialty    0.625
Name: occupation, dtype: float64